<div class="description">I need wifi tomorrow!</div>

<div class="s_box">
<div class="s"><%= link_to 'New Trip', new_trip_path %></div>

<% @trips.each do |trip| %>


    <div class="s">On station:<%= trip.on_station %></div>
    <div class="s">Off station:<%= trip.off_station %></div>
    <div class="s">Wifi duration: <%= trip.wifi_duration %></div>
    <div class="s"><%= link_to 'Details', trip %></div>
    <div class="s"><%= link_to 'Edit', edit_trip_path(trip) %></div>


<% end %>
</div>
<br/>
<br/>
<br/>
<br/>


