<h1>Need Wifi</h1>

<div id="aa">
    <div>Train Number</div>
    <div>On station</div>
    <div>Off station</div>
    <div>Wifi duration</div>


<% @trips.each do |trip| %>


    <div><%= trip.on_station %></div>
    <div><%= trip.off_station %></div>
    <div><%= trip.wifi_duration %></div>
    <div><%= link_to 'Show', trip %></div>
    <div><%= link_to 'Edit', edit_trip_path(trip) %></div>
    <div><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></div>

<% end %>
</div>
<br/>

<%= link_to 'New Trip', new_trip_path %>
