<div class="details_box">
  <h1>MATCHED!</h1>
   <h1>HERE IS YOUR MATCH - <%= @trip.matching_offers.first.user.email %>
   </h1>

    <div><%= link_to 'Official Shares', share_path(@trip) %></div>

  <%= form_for(@share) do |f| %>
    <% if @share.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>

        <ul>
        <% @share.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :trip_id,:value=>@trip.id %>
    </div>
    <div class="field">
      <%= f.hidden_field :offer_id,:value=>@trip.matching_offers.first.id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</>div