

<div class="details_box">
<p class="details">


  <p class="details">You will be riding train #<%= @trip.train_id %> </p>
  <p class="details">departing <%= @trip.on_station %> at <%= @trip.on_station_time %> </p>
  <p class="details"> and will be arriving at <%= @trip.off_station %> at <%= @trip.off_station_time %> </p>
  <p class="details"> and you will be needing wifi for <%= @trip.wifi_duration %> minutes.</p>
</p>

<div class="details">

<%= link_to 'Match Me', match_trip_path(@trip) %>
</div>
</div>
<!-- <p>
  <b>User:</b>
  <%= @trip.user_id %>
</p>

<p>
  <b>Train:</b>
  <%= @trip.train_id %>
</p>

<p>
  <b>On station:</b>
  <%= @trip.on_station %>
</p>

<p>
  <b>On station TIME:</b>
  <%= @trip.on_station_time %>
</p>

<p>
  <b>Off station:</b>
  <%= @trip.off_station %>
</p>

<p>
  <b>Off station TIME:</b>
  <%= @trip.off_station_time %>
</p>
<p>
  <b>Wifi duration:</b>
  <%= @trip.wifi_duration %>
</p>
 -->

