
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="signup_form">

    <div class="field">
      <%= f.text_field :username %>
      <div class="l">username</div>

    </div>
    <div class="field">
      <%= f.text_field :email %>
      <div class="l">email</div>

    </div>
    <div class="field">
      <%= f.password_field :password %>
      <div class="l">password</div>

    </div>
    <div class="field">
      <%= f.password_field :password_confirmation %>
      <div class="l">pswd con</div>

    </div>
    <div class="actions"><%= f.submit %></div>
  <% end %>
</div>
<div class="signup_quote"> I make 10 dollars everyday on my commute.</div>
<div class="signup_quote"> "BoxCarWifi has helped me not get fired"</div>
