<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form">
  <div class="field">
    <%= f.text_field :on_station %>
    <div class="l">Leaving from</div>

  </div>
  <div class="field">
    <%= f.text_field :on_station_time%>
    <div class="l">Time</div>

  </div>
  <div class="field">
    <%= f.text_field :off_station %>
    <div class="l">Arriving at</div>

  </div>
  <div class="actions">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
  </div>
<% end %>
