

<div class="details_box">

  <div class="details">
  This is when you can offer your wifi:

  <div class="details">

<p class="details">


  You ride the #<%= @offer.train_id %> that departs <%= @offer.on_station %> at <%= @offer.on_station_time %> and arrives <%= @offer.off_station %> at <%= @offer.off_station_time %>.
</p>

<%= link_to 'Do I have a match? ', share_path(@offer) %> |
<%= link_to 'Edit', edit_offer_path(@offer) %>

</div>
</div>



<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Offer.id:</b>
  <%= @offer.id %>
</p>

<p>
  <b>User:</b>
  <%= @offer.user_id %>
</p>

<p>
  <b>Train:</b>
  <%= @offer.train_id %>
</p>

<p>
  <b>On station:</b>
  <%= @offer.on_station %>
</p>

<p>
  <b>On station TIME:</b>
  <%= @offer.on_station_time %>
</p>

<p>
  <b>Off station:</b>
  <%= @offer.off_station %>
</p>

  <b>Off station TIME:</b>
  <%= @offer.off_station_time %>
</p>


 -->